<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>LAHACKS 2018</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainbody.css') }}">

  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% include 'includes/_navbar.html' %}
  {% block body %}{% endblock %}

    <p style="text-align: right;padding-right: 3rem;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    ChatBot
  </button>
</p>
    <div id="collapseExample" class="collapse" style ="">
        <div>
            <!--<div id="chatbotBG" class="card card-body" style="display: flex;justify-items: center;align-items: right;justify-content: center;">-->

                <iframe width="100%" height="700" src="https://console.dialogflow.com/api-client/demo/embedded/0bb97539-9eec-4281-be0a-a2172c60620d"></iframe>
            <!--</div>-->
        </div>
    </div>

  <hr>
  <center><p>A project by Andrew, Scott, Jean, and Eduardo.</p></center>
  <center><p>LA Hacks 2018</p></center>
  </body>
</html>