h1, h2, h3, p {
    font-family: "Lato", "Book Antiqua", Palatino, serif;
    font-color: #00394d;
    /* font-family: Arial, Helvetica, sans-serif; */
}


body {
  background-color:#66d9ff;
  /*padding: 25px 25px 25px 25px;*/
}

